{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <title>{% block title %}CSV Management{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'upload_csv' %}">上傳CSV</a></li>
        <li><a href="{% url 'show_data' %}">資料編輯</a></li>
        <li><a href="{% url 'data_visualize' %}">資料圖表</a></li>
    </ul>
</nav>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'js/script_show_data.js' %}"></script>
</body>
</html>
